.centered {
  position: absolute;
  top: 148%;
  left: 48%;
  /* font-size: 1px; */
  max-width: 600px;
  transform: translate(-50%, -50%);
  /* margin-left: 30px;
  margin-right: 500px;
  margin-top: 50px;
  margin-bottom: 1px; */
  /* width: "100"; */
  text-align: center;
}

.right {
  background-color: #f5eae3;

  height: 750px;
}

.left {
  background-color: #f5eae3;
  /* background-color: black; */
  width: 100%;
  height: 100%;
  float: left;
}
img {
  /* width: 60%; */
  margin: auto;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}
